/* TODO: Remove white column between nav items and vertical scroll bar */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    float: left;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 5px;
    background: white;
    font-size: 25px;
}

.scroll-bar {
    overflow: scroll;
    height: 100%;
}

main {
    float: right;
    width: 70%;
    padding-top: 30px;
    margin: 5px 25px;
    line-height: 1.5;
}

.code {
    padding: 16px;
    background: lightcyan;
}

.bigger-text {
   font-size: 30px;
}

.text-align-center {
    text-align: center;
}

.nav {
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: 3px solid lightskyblue;
}

section {
    font-size: 18px;
}

h1 {
    font-size: 28px;
}


